@import '../../styles.scss';

.main {
    width: 100%;
    padding: 20px;
    border: 2px solid $blue-theme;
    border-radius: 4px;
    background: #ffffff59;
    box-sizing: border-box;
}
.item {
    padding-bottom: 20px;
}
.item h3 {
    text-align: center;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to left, #02002471 0%, #020024 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item .sub-title {
    padding: 0 100px 0 100px;
}
.item .sub-title h5 {
    text-align: right
}
label {
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.main input {
    margin: 10px 0 10px;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: $input-text-color;
    
}
button {
    margin-top: 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    width: 100%;
    padding: 10px 16px;
    outline: 0;
    text-align: center;
    text-decoration: none;    
    background-color: $blue-theme;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 200ms ease 0s;
}
button:hover {
    color: $blue-theme;
    background: white;
    border: 2px solid $blue-theme;
    text-shadow: none;
}
.result {
    font-size: 24px;
    vertical-align: middle;
    color: $blue-theme;
}
.copy {
    margin-left: 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: 12px;
    width: 75px;
    padding: 10px 16px;
    outline: 0;
    text-align: center;
    text-decoration: none;    
    background-color: $blue-theme;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 200ms ease 0s;
}
.copy:hover {
    color: $blue-theme;
    background: white;
    border: 2px solid $blue-theme;
    text-shadow: none;
}
.message {
    transition: all 200ms ease 0s;
}